// Bootstrap functions
@import "../node_modules/bootstrap/scss/functions";

// Default variables
$primary: #d63384;
$secondary: #377dff;
$success: #00cc88;
$body-bg: transparent;
$background-color: #edf2f9;
$link-decoration: none;
$enable-shadows: true;
$prefix: "bs-";
// Header
$header-height: 3rem;
// Navbar
$layout-width: 15rem;
$nav-link-color: #132144;
$nav-link-padding-x: 1.5rem;
$nav-link-hover-color: #fff;
$nav-link-hover-bg: #eee;
$nav-tabs-link-active-bg: #eee;
// Card
$card-border-width: 0;
$card-box-shadow: 0 0.375rem 0.75rem rgb(140 152 164 / 8%);
$card-cap-bg: "transparent";
// Table
$table-text-color: #677788;
// Progress
$progress-height: 0.4rem;
// Button
$btn-box-shadow: 0 1px 1px rgb(0 0 0 / 8%);

// Bootstrap required
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

// Bootstrap components
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/card";

// Bootstrap utilities must include with api
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/utilities/api";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/badge";
@import "../node_modules/bootstrap/scss/tables";
@import "../node_modules/bootstrap/scss/progress";
@import "../node_modules/bootstrap/scss/dropdown";
@import "../node_modules/bootstrap/scss/forms";
@import "../node_modules/bootstrap/scss/nav";
@import "../node_modules/bootstrap/scss/transitions";

$bootstrap-icons-font-dir: "../node_modules/bootstrap-icons/font/fonts";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons";

// Custom code
body {
    background-color: $background-color;
}
a,
a:hover {
    text-decoration: $link-decoration;
    color: $gray-700;
}

.logo {
    height: $header-height;
    padding-left: 2.2rem;

    & img {
        width: 5rem;
    }
}
.header {
    height: $header-height;
    box-shadow: 0 0 0.8rem $gray-200;
    border-bottom: 1px solid $gray-300;
    z-index: 2;
    background-color: $background-color;
}
//Content
.navbar-hide .content {
    padding-left: 0;
}
.content {
    padding-left: $layout-width;
    &-title {
        font-size: 1.2rem;
    }
    &-desc {
        font-size: 0.7rem;
        color: $gray-500;
    }
    &-num {
        font-size: 1.2rem;
        font-weight: bold;
    }
}

.btn {
    font-size: 0.8rem;
}

// Navbar
.navbar {
    width: $layout-width;
    z-index: 1;
    border-right: 1px solid $gray-300;
}
.navbar-hide .navbar {
    margin-left: -$layout-width;
}
.nav {
    box-shadow: 0.5rem 0 0.8rem -1rem $gray-200;
    padding: 0 0.5rem;
    &-item {
        padding: 0.2rem;
        font-size: 0.9rem;
    }
    &-title {
        padding-left: 0.8rem;
        margin-right: auto;
    }
    & i {
        opacity: 0.5;
    }
    & i,
    &-title {
        color: $nav-link-color;
    }

    & .nav-link {
        display: flex;
        align-items: center;
    }
    & .nav-collapse {
        padding-left: 1.78rem;
    }
}
.dropdown-header {
    padding-left: 2.3rem;
    font-size: 0.7rem;
    text-transform: uppercase;
}
.dropdown-toggle::after {
    width: 0.38rem;
    height: 0.38rem;
    border-top: 0;
    border-left: 0;
    border-right: 1px solid #5e6e82;
    border-bottom: 1px solid #5e6e82;
    transform: translateY(-50%) rotate(45deg);
}
// Card
.card-subtitle {
    font-size: 0.8rem;
    margin-top: 0 !important;
}
// Table
.table tr > * {
    font-size: 0.88rem;
    color: $table-text-color;
    padding: 1.2rem 1rem;
    vertical-align: middle;
}
thead th {
    text-transform: uppercase;
    padding: 0.88rem 1.2rem !important;
}
.card .col-lg-5 > *,
.card .col-lg-5 input,
.card .dropdown-item {
    font-size: 0.9rem;
}
.dot {
    border-radius: 50%;
    display: inline-block;
    height: 0.5rem;
    margin-right: 0.3rem;
    vertical-align: middle;
    width: 0.5rem;
    font-weight: normal;
}
// Avatar
.avatar {
    width: 2.2rem;
    height: 2.2rem;
    color: #fff;
    font-size: 1rem;
    line-height: 2.2rem;
}
// Progress
.progress {
    width: 5rem;
}
// Button
.btn-light {
    border-color: #e7eaf0;
    color: #495057;
}
// Media
@include media-breakpoint-up(sm) {
}
@include media-breakpoint-up(md) {
}
@include media-breakpoint-up(lg) {
    .avatar {
        width: 2.6rem;
        height: 2.6rem;
        font-size: 1rem;
        line-height: 2.6rem;
    }
}
