<div class="header d-flex align-items-center px-2 position-fixed">
    <a href="#" id="navbar-toggler" class="me-xl-auto navbar-item" aria-controls="offcanvasNavbar"><i
            class="bi bi-list"></i></a>
    <a href="#" class="logo d-flex align-items-center me-auto d-xl-none">
        <img src="./assets/logo.webp" alt="Logo" />
    </a>
    <a href="#" class="navbar-item"><i class="bi bi-bell"></i></a>
    <a href="#" class="navbar-item"><i class="bi bi-envelope"></i></a>
    <a href="#" class="navbar-item"><i class="bi bi-people"></i></a>
    <a href="#" class="navbar-item"><i class="bi bi-gear"></i></a>
</div>