<div class="navbar position-fixed top-0 left-0 bottom-0 offcanvas-start d-block" tabindex="-1" id="offcanvasNavbar"
		aria-labelledby="offcanvasNavbarLabel">
		<a href="#" class="logo d-flex align-items-center">
			<img src="./assets/logo.webp" alt="Logo" />
		</a>
		<div id="navbar" class="overflow-auto">
			<ul class="nav flex-column mt-2">
				<li class="nav-item">
					<a href="#userNav" class="nav-link dropdown-toggle" data-bs-toggle="collapse"
						data-bs-target="#userNav" role="button" aria-expanded="false" aria-controls="userNav1">
						<i class="bi bi-house-door"></i>
						<span class="nav-title">Dashboard</span>
					</a>
					<div id="userNav" class="nav-collapse collapse">
						<a href="#" class="nav-link">Overview</a>
						<a href="#" class="nav-link">Leaderboard</a>
						<a href="#" class="nav-link">Add Users</a>
					</div>
				</li>
			</ul>
			<div class="dropdown-header mt-4">App</div>
			<ul class="nav flex-column">
				<li class="nav-item">
					<a href="#userNav1" class="nav-link dropdown-toggle" data-bs-toggle="collapse"
						data-bs-target="#userNav1" role="button" aria-expanded="false" aria-controls="userNav1">
						<i class="bi bi-boxes"></i>
						<span class="nav-title">Widgets</span>
					</a>
					<div id="userNav1" class="nav-collapse collapse">
						<a href="#" class="nav-link">Overview</a>
						<a href="#" class="nav-link">Leaderboard</a>
						<a href="#" class="nav-link">Add Users</a>
					</div>
				</li>
				<li class="nav-item">
					<a href="#userNav2" class="nav-link dropdown-toggle" data-bs-toggle="collapse"
						data-bs-target="#userNav2" role="button" aria-expanded="false" aria-controls="userNav2">
						<i class="bi bi-graph-up-arrow"></i>
						<span class="nav-title">Charts</span>
					</a>
					<div id="userNav2" class="nav-collapse collapse">
						<a href="#" class="nav-link">Overview</a>
						<a href="#" class="nav-link">Leaderboard</a>
						<a href="#" class="nav-link">Add Users</a>
					</div>
				</li>
				<li class="nav-item">
					<a href="#userNav3" class="nav-link dropdown-toggle" data-bs-toggle="collapse"
						data-bs-target="#userNav3" role="button" aria-expanded="false" aria-controls="userNav3">
						<i class="bi bi-map"></i>
						<span class="nav-title">Maps</span>
					</a>
					<div id="userNav3" class="nav-collapse collapse">
						<a href="#" class="nav-link">Overview</a>
						<a href="#" class="nav-link">Leaderboard</a>
						<a href="#" class="nav-link">Add Users</a>
					</div>
				</li>
			</ul>
			<div class="dropdown-header mt-4">Documentation</div>
			<ul class="nav flex-column">
				<li class="nav-item">
					<a href="#userNav4" class="nav-link dropdown-toggle" data-bs-toggle="collapse"
						data-bs-target="#userNav4" role="button" aria-expanded="false" aria-controls="userNav4">
						<i class="bi bi-gear"></i>
						<span class="nav-title">Setting</span>
					</a>
					<div id="userNav4" class="nav-collapse collapse">
						<a href="#" class="nav-link">Overview</a>
						<a href="#" class="nav-link">Leaderboard</a>
						<a href="#" class="nav-link">Add Users</a>
					</div>
				</li>
				<li class="nav-item">
					<a href="#userNav5" class="nav-link dropdown-toggle" data-bs-toggle="collapse"
						data-bs-target="#userNav5" role="button" aria-expanded="false" aria-controls="userNav5">
						<i class="bi bi-table"></i>
						<span class="nav-title">Tables</span>
					</a>
					<div id="userNav5" class="nav-collapse collapse">
						<a href="#" class="nav-link">Overview</a>
						<a href="#" class="nav-link">Leaderboard</a>
						<a href="#" class="nav-link">Add Users</a>
					</div>
				</li>
				<li class="nav-item">
					<a href="#userNav6" class="nav-link dropdown-toggle" data-bs-toggle="collapse"
						data-bs-target="#userNav6" role="button" aria-expanded="false" aria-controls="userNav6">
						<i class="bi bi-calendar-check"></i>
						<span class="nav-title">Calendar</span>
					</a>
					<div id="userNav6" class="nav-collapse collapse">
						<a href="#" class="nav-link">Overview</a>
						<a href="#" class="nav-link">Leaderboard</a>
						<a href="#" class="nav-link">Add Users</a>
					</div>
				</li>
				<li class="nav-item">
					<a href="#userNav7" class="nav-link dropdown-toggle" data-bs-toggle="collapse"
						data-bs-target="#userNav7" role="button" aria-expanded="false" aria-controls="userNav7">
						<i class="bi bi-cart-check"></i>
						<span class="nav-title">E-commerce</span>
					</a>
					<div id="userNav7" class="nav-collapse collapse">
						<a href="#" class="nav-link">Overview</a>
						<a href="#" class="nav-link">Leaderboard</a>
						<a href="#" class="nav-link">Add Users</a>
					</div>
				</li>
			</ul>
			<div class="dropdown-header mt-4">Pages</div>
			<ul class="nav flex-column">
				<li class="nav-item">
					<a href="#userNav8" class="nav-link dropdown-toggle" data-bs-toggle="collapse"
						data-bs-target="#userNav8" role="button" aria-expanded="false" aria-controls="userNav8">
						<i class="bi bi-activity"></i>
						<span class="nav-title">Activity</span>
					</a>
					<div id="userNav8" class="nav-collapse collapse">
						<a href="#" class="nav-link">Overview</a>
						<a href="#" class="nav-link">Leaderboard</a>
						<a href="#" class="nav-link">Add Users</a>
					</div>
				</li>
				<li class="nav-item">
					<a href="#userNav9" class="nav-link dropdown-toggle" data-bs-toggle="collapse"
						data-bs-target="#userNav9" role="button" aria-expanded="false" aria-controls="userNav9">
						<i class="bi bi-file-earmark"></i>
						<span class="nav-title">Documentations</span>
					</a>
					<div id="userNav9" class="nav-collapse collapse">
						<a href="#" class="nav-link">Overview</a>
						<a href="#" class="nav-link">Leaderboard</a>
						<a href="#" class="nav-link">Add Users</a>
					</div>
				</li>
				<li class="nav-item">
					<a href="#userNav10" class="nav-link dropdown-toggle" data-bs-toggle="collapse"
						data-bs-target="#userNav10" role="button" aria-expanded="false" aria-controls="userNav10">
						<i class="bi bi-people"></i>
						<span class="nav-title">User</span>
					</a>
					<div id="userNav10" class="nav-collapse collapse">
						<a href="#" class="nav-link">Overview</a>
						<a href="#" class="nav-link">Leaderboard</a>
						<a href="#" class="nav-link">Add Users</a>
					</div>
				</li>
				<li class="nav-item">
					<a href="#userNav11" class="nav-link dropdown-toggle" data-bs-toggle="collapse"
						data-bs-target="#userNav11" role="button" aria-expanded="false" aria-controls="userNav11">
						<i class="bi bi-key"></i>
						<span class="nav-title">Password</span>
					</a>
					<div id="userNav11" class="nav-collapse collapse">
						<a href="#" class="nav-link">Overview</a>
						<a href="#" class="nav-link">Leaderboard</a>
						<a href="#" class="nav-link">Add Users</a>
					</div>
				</li>
			</ul>
		</div>
	</div>